# Ignore Visual Studio specific files
.vscode/
.vs/
*.code-workspace

# Ignore Visual Studio project files
*.sln
*.vcxproj.*
*.csproj.*
*.vbproj.*

# Ignore build artifacts
Debug/
Release/
x64/
x86/
ARM/
*.obj
*.o
*.exe
*.dll
*.lib
*.ilk
*.pdb
*.exp
*.idb
*.ipch
*.tlog
*.log
*.cache
*.db

# Ignore temporary files
*.tmp
*.log
*.suo
*.user
*.sdf
*.opendb
*.VC.db
*.VC.opendb
